.main{
    padding: 15px 200px;
    width: 100%;
    display: flex;
}
.main_left{
    width: 800px;
    padding-right: 35px;
}
.main_left_ad{
    width: 760px;
}
.main_left_column{
    display: flex;
    margin: 10px 0px;
    border: 1px solid rgba(199, 198, 198, 0.952);
    padding: 15px 15px;
    background-color: #f7f7f7;
}
.main_left_column_news{
    display: flex;
}
.main_left_column_news_title{
    font-size: 13px;
    font-weight: 800;
    padding-right: 5px;
}
.main_left_column_news_contents{
    font-size: 13px;
    padding-right: 5px;
}
.main_left_column_category{
    display: flex;
    position: absolute;
    right: 580px;
}
.main_left_column_category__title{
    font-weight: 800;
    color: royalblue;
    padding-right: 10px;
}
.main_left_column_category_title{
    font-weight: 800;
    padding-right: 10px;
}
.main_left_news_column{
    display: flex;
    padding-top: 5px;
}
.main_left_news__column{
    display: flex;
}
.main_left_news__column_img{
    width: 40px;
    height: 30px;
}
.main_left_news__column_title{
    font-size: 15px;
    font-weight: 800;
    padding-top: 7px;
    padding-right: 5px;
}
.main_left_news__column_icon{
    padding-top: 7px;
    padding-right: 15px;
}
.main_left_news__column_sub{
    font-size: 15px;
    padding-top: 7px;
    padding-right: 10px;
    color: dimgray;
}
.main_left_news__column_all{
    font-size: 15px;
    font-weight: 800;
    padding-top: 7px;
}
.main_left_news_column_icons{
    display: flex;
    position: absolute;
    right: 545px;
    padding-top: 7px;
    font-size: 15px;
}
.main_left_news_column_icons_{
    color: dimgray;
    padding-right: 15px;
}
.main_left_news_column_icons__{
    color: rgb(11, 81, 151);
    padding-right: 15px;
}