.main{
    padding: 15px 200px;
    width: 100%;
    display: flex;
}
.main_left{
    width: 800px;
    padding-right: 35px;
}
.main_left_ad{
    width: 760px;
}
.main_left_column{
    display: flex;
    margin: 10px 0px;
    border: 1px solid rgba(199, 198, 198, 0.952);
    padding: 15px 15px;
    background-color: #f7f7f7;
    justify-content: space-between;
}
.main_left_column_news{
    display: flex;
}
.main_left_column_news_title{
    font-size: 13px;
    font-weight: 800;
    padding-right: 5px;
}
.main_left_column_news_contents{
    font-size: 13px;
    padding-right: 5px;
}
.main_left_column_category{
    display: flex;
}
.main_left_column_category__title{
    font-weight: 800;
    color: royalblue;
    padding-right: 10px;
}
.main_left_column_category_title{
    font-weight: 800;
    padding-right: 10px;
}
.main_left_news_column{
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
}
.main_left_news__column{
    display: flex;
}
.main_left_news__column_img{
    width: 40px;
    height: 30px;
}
.main_left_news__column_title{
    font-size: 15px;
    font-weight: 800;
    padding-top: 7px;
    padding-right: 5px;
}
.main_left_news__column_icon{
    padding-top: 7px;
    padding-right: 15px;
}
.main_left_news__column_sub{
    font-size: 15px;
    padding-top: 7px;
    padding-right: 10px;
    color: dimgray;
}
.main_left_news__column_all{
    font-size: 15px;
    font-weight: 800;
    padding-top: 7px;
}
.main_left_news_column_icons{
    display: flex;
    padding-top: 7px;
    font-size: 15px;
}
.main_left_news_column_icons_{
    color: dimgray;
    padding-right: 15px;
}
.main_left_news_column_icons__{
    color: rgb(11, 81, 151);
    padding-right: 15px;
}
.main_left_news_column_icons___{
    color: dimgray;
}
.main_left_news_table{
    padding-top: 5px;
    padding-bottom: 20px;
}
.main_left_news__table{
    width: 759px;
    height: 240px;
}
.main_left_news_table_tr{
    border: 1px solid rgba(199, 198, 198, 0.952);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    height: 60px;
}
.main_left_news_table_td{
    border: 1px solid rgba(199, 198, 198, 0.952);
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    width: 126.5px;
}
.main_left_post_column{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.main_left_post_column_box{
    display: flex;
}
.main_left_post_column_title{
    font-size: 15px;
    font-weight: 800;
    padding-right: 7px;
}
.main_left_post_column_subtitle{
    color: dimgray;
    font-size: 12px;
    padding-top: 3px;
}
.main_left_post_column_num{
    font-size: 12px;
    font-weight: 800;
    padding-right: 3px;
    padding-top: 3px;
}
.main_left_post_column__num{
    color: dimgray;
    font-size: 12px;
    padding-right: 7px;
    padding-top: 3px;
    border-right: 1px solid rgba(199, 198, 198, 0.952);
}
.main_left_post_column_icon{
    color: dimgray;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 3px;
    padding-top: 3px;
}
.main_left_post_column_subject{
    color: dimgray;
    font-size: 12px;
    padding-top: 3px;
}
.main_left_subject{
    padding-top: 15px;
}
.main_left__subject{
    display: flex;
    justify-content: space-between;
}
.main_left_subjuct_list{
    border: 1px solid rgba(199, 198, 198, 0.952);
    padding: 20px 25px;
    font-weight: 800;
}